body {
 background-color: rgba(185, 35, 60, 0.1);
}

#display {
    height: 10vh;
    background-color: white;
    color: rgb(19, 214, 19);
    font-size: 4em;
    padding: 5px;
    text-align: right;
    overflow: hidden;
    margin-bottom: 5vh;
    margin-top: 5vh;
    
}

#calculator {
    margin-top: 5vh;
    width: 100%;
    background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(lightcoral));
    background-image: -webkit-linear-gradient(top, lightblue, lightcoral);
    background-image: -moz-linear-gradient(top, lightblue, lightcoral);
    background-image: linear-gradient(to bottom, lightblue, lightcoral);
    height: 90vh;
    
}

.cbutton {
    font-size: 3em;
    font-weight: bolder;
    width: 10vh;
    height: 12vh;
    margin-bottom: 2vh;
    background-color: rgba(54, 34, 168, 0.1)
    
}

#equal {
    width: 100%;
    background-color: rgba(25, 202, 25, 0.5);
}

#clear {
    background-color: darkred;
}


@media only screen and (max-width: 370px) {
    body {
        background-color: lightslategray;
    }
    .cbutton {
        width: 9vh;
        height: 9vh;
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-color: rgba(143, 229, 143, 0.6);
        margin: 1% 20%;
    }
    .cbutton {
        height: 12vh;
        width: 12vh;
        font-size: 4em;
    }
}